name: Deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 23

    - name: Install dependencies
      run: npm install

    - name: Build dist
      run: npm run build

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: production-files
        path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: production-files
        path: ./dist

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DREAMHOST_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H pdx1-shared-a1-44.dreamhost.com >> ~/.ssh/known_hosts

    - name: Clear remote directory
      run: |
        ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no dh_kn6hnk@pdx1-shared-a1-44.dreamhost.com 'rm -rf ./trigub.tech/*'

    - name: Deploy files to server
      run: |
        scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -r ./dist/* dh_kn6hnk@pdx1-shared-a1-44.dreamhost.com:./trigub.tech/